body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: yellow;
}

button {
  height: fit-content;
  padding: 8px 32px;
  background-color: #3882F6;
  color: white;
  border-style: solid;
  border-width: 2px;
}

.header,
.footer {
  display: flex;
  align-items: center;
  background-color: #1F2937;
  color:white;
}

.header {
  justify-content: space-between;
  padding: 0 128px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.container-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.hero {
  flex-grow: 1;
  background-color: #1F2937;
  color: white;
}

.hero * {
  margin: 0 128px;
}

.hero button {
  margin: 16px 128px;
  border-color: #3882F6;
}

.picture {
  display: flex;
  flex: 1 1 auto;
  height: 100px;
  background-color: gray;
}

.info {
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  text-align: center;
}

.action {
  display: flex;
}

.action .container-row {
  padding: 32px 72px;
  margin: 48px 128px;
  background-color: #3882F6;
  color: white;
}

.action .container-row button {
  align-self: center;
  border-color: white;
}

.action .container-column * {
  margin: 0;
}

.footer {
  justify-content: center;
  padding: 16px;
}